body {
  margin: 0;
  background-color: #00BCD4;
  min-height: 100vh;
}

.post-body {
  width: 400px;
  height: 200px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}

.comment-box {
  width: 400px;
  height: 300px;
  margin: 60px auto;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}
